@charset "UTF-8"
body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color:slategray ;
}

h1 {
    color: blue;
    background-color: violet;
}

h2
{
    color: red;
}
h4 
{
   text-align: right;
}
p
{
    text-align: justify;
}