@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #9498A1, #D7D7D9);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #62656ba1;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #593D36;
    text-align: center;
    text-shadow: 1px 1px 2px #9c6c60;
}

h2 {
    color: #8C5C51;
}
p {
    text-align: justify;
}

