@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

:root {
    --cor1: #2D6634;
    --cor2: #ADEAB4;
    --cor3: #65E673;
    --cor4: #4FB35A;

    
    --fonte-padrao: arial;
    --fonte-destaque: 'Alegreya SC', cursive;
    --fonte-android: 'Zcool Kuaile', cursive;


}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ADEAB4;
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor1);
    font-family: var(--fonte-destaque);
    color: white;
    padding: 20px;
    padding-top: 20px;
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
}

header h1 {
    padding: 20px;
    text-shadow: 1px 2px 1px rgba(59, 59, 59, 0.527);
}

header p {
    max-width: 350px;
    margin: auto;
    text-shadow: 1px 2px 1px rgba(59, 59, 59, 0.527);
}

nav {
    background-color: var(--cor1);
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

main {
    background-color: white;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(41, 41, 41, 0.767);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor1);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor1);
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--cor3), white);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

footer {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}